# Firebase Configuration
# Get these values from your Firebase project settings
VITE_FIREBASE_API_KEY=AIzaSyDtB2Hm7ai1cflkyCeosOlQ6MLv749jDn4
VITE_FIREBASE_AUTH_DOMAIN=signup-and-login-firebas-b5519.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=signup-and-login-firebas-b5519
VITE_FIREBASE_STORAGE_BUCKET=signup-and-login-firebas-b5519.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=100805061023
VITE_FIREBASE_APP_ID=1:100805061023:web:820b78d15751c8d91375aa